# Assets
Kyokuchi/Assets.xcassets/**/*.png
Kyokuchi/Assets.xcassets/**/*.jpg
Kyokuchi/Assets.xcassets/**/*.jpeg
Kyokuchi/Services/Sounds/*.mp3


# Xcode user-specific files
*.xcuserstate
*.xcuserdatad/
xcuserdata/